<div data-role="page">
	 <div data-role="header">
	 	<a data-rel="back" data-icon="arrow-l">Back</a>
      <h1>Veritas Class</h1>
  </div>
	<div data-role="content">	
		<ul data-role="listview">
			<% @couples.each do |c|%>
			<li><a href="<%=couple_url(c)%>"><%=c.full_name%></li>
			<% end %>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->