*.sqlite3
log/*
tmp/*
*.DS_Store*
*.pid
config/*.yml
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
public/assets
pickle-email-*.html
client_secrets.json
