{"web":{"auth_uri":"https://accounts.google.com/o/oauth2/auth","client_secret":"skdjskdsdksd","token_uri":"https://accounts.google.com/o/oauth2/token","client_email":"9sdsdsd369-2rdbdgbkqbmsddsdd8rh3ca776isdsdhepck6j@developer.gserviceaccount.com","redirect_uris":["http://www.yourdomain.com"],"client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/908sssd369-2rdbdgbkqbmdd8rh3ca776ilesdsdhepck6j@developer.gserviceaccount.com","client_id":"908444346369-2rdbdgfdfdffdffdf3ca776ilehepck6j.apps.googleusercontent.com","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","javascript_origins":["http://www.yourdomain.com"]}}