<p>Signup slots for <strong><%=@signup.title%></strong> are now available.To signup, simply login to the <%= Setting.cached.group_name%> website and click 'Signup' on the main page.</p>
<p>The details to login to the website are at the bottom of this email.</p>
<% if !@signup.details.blank? %>
<p><strong>Signup Details:</strong></p>
<%= @signup.details %>
<% end %>
	