<tr>
	<td><%=slot.object.date.strftime('%a, %m/%d')%></td>
	<td><%= slot.select(:contact_id,  options_from_collection_for_select(@contacts, 'id', 'full_name', slot.object.contact_id), {:include_blank => '--Sign Up--'})%></td>
	<td><%= slot.text_field :notes, :class=>'notes' %></td></tr>