<% if @signups.length > 0 %>
<h2>Signups<i class="icon-check"></i></h2>
<% @signups.each do |s| %>
<div class="signup" signup_id="<%=s.id%>">
	<% if s.unslotted_count != 0 %>
	<button class="btn btn-small btn-success pull-right">Signup</button>
	<% else %>
	<button class="btn btn-small pull-right">View Signups</button>
	<% end %>
	<div class="title"><%=s.title%></div>
	<span class="badge badge-warning"><%=s.unslotted_count%></span> slots left		
</div>
<% end %>
<div id="signups-dialog" class="modal-dialog" title="Signup">
	<p>Loading...</p>
</div>
<hr/>
<% end %>