<div data-role="page"  id="contact_edit_page">
	<div data-role="header" data-id="head" data-theme="b">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>Edit Contact</h1>
	</div>
	<div data-role="content">	
		<%= render :partial => 'form_mobile.html', :locals => { :contact => @contact }  %>
	</div><!-- /content -->
</div><!-- /page -->

