<p><%= @count %> contacts have been added to the Contact Queue.</p>
<p><a href="<%= contact_queue_items_url(host: Setting.cached.host_name) %>"><%= contact_queue_items_url(host: Setting.cached.host_name) %></a></p>

