/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 */

@import "bootstrap";
@import "variables.css.scss";
@import "attendances.css.scss";
@import "contact_queue_items.css.scss";
@import "contacts.css.scss";
@import "signups.css.scss";
@import "sessions.css.scss";
@import "reports.css.scss";
@import "podcasts.css.scss";
@import "default.css.scss";
@import "tools.css.scss";
@import "settings.css.scss";

#logout { float:right; padding: 5px; }
.admin_fields { padding: 8px; background-color: #faf4d8; margin-bottom: 15px; width:650px;}
input.date { width: 75px;}
#content { margin: 5px;}
form { padding:10px;}
.nowrap { white-space:nowrap; }
td.actions a { padding: 0 5px 0 5px; }
td.actions a.edit { font-weight: bold; }
.checkbox_dependent { margin-left:20px; font-style:italic;}
.field_with_errors { color: #b94a48;}
.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#switch-mobile-footer {
	padding: 5px 0 5px 0;
	background-color: #808080;
	width:100%;
	text-align: center;
	position:fixed;
	bottom: 0px;
}

/* xhr */
.xhr .form-actions { display: none; }

/* bootstrap overrides */
h1 { font-size: 1.6em;}
h2 { font-size: 1.3em;}
i { margin: 4px;}
#nav_title { text-transform: uppercase; }
.navbar { margin-bottom: 0px; }
.alert { margin: 5px 5px 5px 5px;}
.alert ul { margin-bottom: 0px;}
.alert a { font-weight: bold; }
input[type="file"] { padding:5px;}
.help-inline { font-style: italic; }
