// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#date_label { display:inline;}
#member_attendance td.husband, #visitor_attendance td.husband { background-color: $husband_color;}
#member_attendance td.wife, #visitor_attendance td.wife { background-color: $wife_color;}