// Place all the styles related to the ContactQueueItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#completed, #completed legend, #completed a {color: #bababa;}
#contact_queue_item_completed_notes { width:400px; }
.contact_queue_items .well { height: 150px;}