body.default #content{  background-color: #808080; margin:0px; }
body.default #content h2 { font-size: 18px; clear:both; }
body.default #content .modal-header h3 { font-size: 1.6em; }
body.default #content h3 { font-size: 14px; }
body.default #content #wrapper {
	width:1000px;
	margin: 0 auto;
	padding: 0 5px 0 5px;
	background-color: white;
}

body.default #content .row { margin: 0 auto;}
#podcast-item-detail { font-style: italic;}
body.default .member .email { width: 145px; text-overflow: ellipsis; overflow: hidden;}
body.default .signup { border-bottom: solid 1px #d4d4d4; padding: 10px 0 10px 0;}
body.default .signup .title { font-size:16px; padding-bottom:5px;}
.signup-detail { font-size:smaller;}
.signup .title { font-weight: bold;}

body.default dt { font-size:17.5px; margin-bottom:5px; }
body.default dd { font-size:17.5px; margin-botton:5px; margin-bottom:10px;}

body.default .edit-contact { display:block;}
#edit-contact-modal .modal-body { max-height: 525px;}
#edit-contact-modal {
	width: 870px;
	margin-left: -425px;
}

#signup-modal {
	width:700px;
	margin-left: -350px;
}


body.default #inner-content { padding-bottom: 5px;}
body.default #login { padding: 10px; padding-top: 20px; background-color: #f4f4f4; border: solid 1px #b4b4b4; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
body.default #remember { display: inline-block; margin-left:35px; }
body.default #remember input, #remember label  { margin:5px; display:inline-block; }