#roster tbody tr {display:none;} /* default, will be changed by js at runtime */
input.husband_field, .husband_fields input { background-color: $husband_color;}
input.wife_field, .wife_fields input { background-color: $wife_color;}
#roster td.full_name { font-size:larger; font-weight:bold;}
.xhr.families h1 { display:none; }
.edit-member { font-size:10px; margin-right: 5px;}
.member .names { font-weight:bold; font-size:larger;}