// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-container {
  background-color: white; padding:10px;
  margin: 0 auto;
  margin-top:50px;
  width: 450px;
}

#sessions { background-color: #646464;}
#sessions h1 { font-size:1.95em; line-height:20px; }
#sessions img { float:right;}
#sessions label { font-size:larger; font-weight:bold;}