// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-container {
  background-color: white;
  border: solid 2px #515151;
  margin: 0 auto;
  margin-top:50px;
  width: 450px;
  padding:15px;
}

#sessions { background-color: #808080;}
#sessions h1 { font-size:1.95em; line-height:30px; }
#sessions img { float:right;}
#sessions #password_fields { font-size:larger; font-weight:bold;}
#remember { display: inline-block; margin-left:35px; }
#remember input, #remember label  { margin:5px; display:inline-block; }