<div data-role="page" id="podcast_page">
	 <div data-role="header" data-id="head" data-theme="b">
	 	<a data-rel="back" data-icon="arrow-l">Back</a>
      <h1>Podcast</h1>
  </div>
	<div data-role="content">	
		<ul data-role="listview">
			<% @podcasts.each do |p|%>
			<li>
				<a data-ajax="false" href="<%=p.audio_url%>">
					<h3><%=p.title%></h3>
					<p><%=p.date.strftime('%m/%d/%Y')%> - <%=p.speaker%></p>
				</a>
			</li>
			<% end %>
		</ul>
	</div><!-- /content -->
</div><!-- /page -->