<ul>
	<li><a href='/reports/email_list/?type=all'>Email List (All Active)</a></li>
	<li><a href='/reports/email_list/?type=men'>Email List (Men)</a></li>
	<li><a href='/reports/email_list/?type=women'>Email List (Women)</a></li>
<ul>